#    HOMEWORK HEADER:  SURFS UP!

### EVALUATION and ANALYSIS

1. 

2. 

3.

In [2]:
# Dependencies:  Given 
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import numpy as np
import pandas as pd

In [4]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [7]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [8]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [9]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [10]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [11]:
# inspect the measurement table 
precip_data = session.query(Measurement).first()
precip_data.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2bc568fcf60>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'tobs': 65.0,
 'date': '2010-01-01'}

In [12]:
Measurement.__table__.__dict__

{'dispatch': <sqlalchemy.event.base.DDLEventsDispatch at 0x2bc57b47ec8>,
 'name': 'measurement',
 'fullname': 'measurement',
 '_columns': <sqlalchemy.sql.base.ColumnCollection at 0x2bc57b7ac18>,
 'primary_key': PrimaryKeyConstraint(Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False)),
 'foreign_keys': set(),
 'metadata': MetaData(bind=None),
 'schema': None,
 'indexes': set(),
 'constraints': {PrimaryKeyConstraint(Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False))},
 'columns': <sqlalchemy.sql.base.ImmutableColumnCollection at 0x2bc57b9dcf0>,
 '_extra_dependencies': set(),
 'implicit_returning': True,
 'comment': None,
 '_prefixes': [],
 'dialect_kwargs': <sqlalchemy.sql.base._DialectArgView at 0x2bc57baa048>,
 'dialect_options': {},
 'description': 'measurement',
 '_cloned_set': {Table('measurement', MetaData(bind=None), Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False), Column('station', TEXT(), table=<measurement>), Column('date', TEXT(), table=<measurement>), Column('prcp', FLOAT(), table=<measurement>), Column('tobs', FLOAT(), table=<measurement>), schema=None)}}

In [15]:
engine.execute('SELECT * FROM Measurement LIMIT 10').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0),
 (6, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (7, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (8, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (9, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (10, 'USC00519397', '2010-01-11', 0.01, 64.0)]

In [19]:
engine.execute('SELECT* FROM Measurement ORDER BY Date desc LIMIT 10').fetchall()

[(2724, 'USC00519397', '2017-08-23', 0.0, 81.0),
 (7635, 'USC00514830', '2017-08-23', 0.0, 82.0),
 (12187, 'USC00519523', '2017-08-23', 0.08, 82.0),
 (19550, 'USC00516128', '2017-08-23', 0.45, 76.0),
 (2723, 'USC00519397', '2017-08-22', 0.0, 82.0),
 (12186, 'USC00519523', '2017-08-22', 0.0, 82.0),
 (19549, 'USC00516128', '2017-08-22', 0.5, 76.0),
 (2722, 'USC00519397', '2017-08-21', 0.0, 81.0),
 (7634, 'USC00514830', '2017-08-21', 0.02, 79.0),
 (12185, 'USC00519523', '2017-08-21', None, 82.0)]

In [25]:
engine.execute('SELECT* FROM Measurement GROUP BY station').fetchall()

[(14960, 'USC00511918', '2010-01-01', 0.05, 66.0),
 (2725, 'USC00513117', '2010-01-01', 0.28, 67.0),
 (5434, 'USC00514830', '2010-03-01', 0.01, 67.0),
 (16939, 'USC00516128', '2010-01-01', 0.14, 73.0),
 (7636, 'USC00517948', '2010-05-03', None, 75.0),
 (9008, 'USC00518838', '2010-01-01', 0.21, 72.0),
 (12188, 'USC00519281', '2010-01-01', 0.15, 70.0),
 (1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (9519, 'USC00519523', '2010-01-01', 0.15, 75.0)]

In [13]:
# inspect the station table 
station_data = session.query(Station).first()
station_data.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2bc57c04940>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'longitude': -157.8168,
 'station': 'USC00519397'}

In [14]:
Station.__table__.__dict__

{'dispatch': <sqlalchemy.event.base.DDLEventsDispatch at 0x2bc57ba6648>,
 'name': 'station',
 'fullname': 'station',
 '_columns': <sqlalchemy.sql.base.ColumnCollection at 0x2bc57baa2b0>,
 'primary_key': PrimaryKeyConstraint(Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False)),
 'foreign_keys': set(),
 'metadata': MetaData(bind=None),
 'schema': None,
 'indexes': set(),
 'constraints': {PrimaryKeyConstraint(Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False))},
 'columns': <sqlalchemy.sql.base.ImmutableColumnCollection at 0x2bc57b6cf78>,
 '_extra_dependencies': set(),
 'implicit_returning': True,
 'comment': None,
 '_prefixes': [],
 'dialect_kwargs': <sqlalchemy.sql.base._DialectArgView at 0x2bc57baa4a8>,
 'dialect_options': {},
 'description': 'station',
 '_cloned_set': {Table('station', MetaData(bind=None), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('station', TEXT(), table=<station>), Column('name', TEXT(), table=<station>), Column('latitude', FLOAT(), table=<station>), Column('longitude', FLOAT(), table=<station>), Column('elevation', FLOAT(), table=<station>), schema=None)}}

In [16]:
engine.execute('SELECT * FROM Station LIMIT 10').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [22]:
engine.execute('SELECT * FROM Station ORDER BY ID desc').fetchall()

[(9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)]

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

session_date = session.query(Measurement).order_by(Measurement.date.desc()).limit(5)
for date in session_date:
    latest_session_date = date.date

latest_session_date = dt.datetime.strptime(latest_session_date, "%Y-%m-%d")

# Calculate the date 1 year ago from the last data point in the database
one_year_ago = latest_session_date - dt.timedelta(days=365)

# Perform a query to retrieve the data and precipitation scores
recent_prcp_data = session.query(Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= one_year_ago).\
    order_by(Measurement.date).all()

prcp_df = pd.DataFrame(recent_prcp_data).dropna()

prcp_df.head()
# Save the query results as a Pandas DataFrame and set the index to the date column

prcp_df = pd.DataFrame(recent_prcp_data).dropna()

# Sort the dataframe by date
prcp_df['date'] = pd.to_datetime(df['date'])

prcp_df.head(10)

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data
plt.plot(prcp_df['date'], prcp_df['prcp'])
plt.title("PRECIPITATION IN HAWAII")
size = 5.0

plt.xlabel('Dates')
plt.ylabel('Rainfall (Inches)')
plt.legend(bbox_to_anchor=(0.5, 1.05))
plt.xticks(rotation='90')


plt.tight_layout()
#plt.show()
fig = plt.figure()
plt.savefig('image1.png')

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

prcp_df.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
stations = session.query(Measurement.station).distinct().count()
print(f'There are {stations} stations available in this dataset.')

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
active_station = session.query(Measurement.station, func.count(Measurement.tobs)).group_by(Measurement.station).\
               order_by(func.count(Measurement.tobs).desc()).all()

active_station

In [ ]:
# focusing on one active station 
popular_station = active_station[0][0]    
popular_station

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

popular_station = active_station[0][0]
session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
                filter(Measurement.station == popular_station).all()

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
#where created_date >= DATEADD(month, -12, GETDATE()) (???)
temperature_station = session.query(Measurement.station, Measurement.date, Measurement.tobs).\
    filter(Measurement.station == popular_station).\
    filter(Measurement.date > one_year_ago).\
    order_by(Measurement.date).all()

fig2 = plt.figure(figsize=(10,5))
plt.grid(True)
plt.tight_layout()
temp_df = pd.DataFrame(temperature_station)
plt.hist(temp_df['tobs'])
bin_size = 15
plt.xlabel("Recorded Temperatures from Date Range")
plt.ylabel("Frequency of Observations")
plt.title("Station with Most Recorded Observations: " + popular_station)
#plt.show()

fig = plt.figure()
plt.savefig('image2.png')

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example #My trip dates 
print(calc_temps('2017-02-28', '2017-03-10'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.
my_trip = calc_temps('2017-02-28', '2017-03-10')
my_trip

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

trip_df = pd.DataFrame(my_trip, columns=['Min Temp', 'Avg Temp', 'Max Temp'])
avg_temp = trip_df['Avg Temp']
min_max_temp = trip_df.iloc[0]['Max Temp'] - trip_df.iloc[0]['Min Temp']
avg_temp.plot(kind='bar', yerr=min_max_temp, figsize=(6,8), alpha=0.5, color='coral')
plt.title("Trip Avg Temp", fontsize=20)
plt.ylabel("Temp (F)")
plt.xticks([])
plt.grid()
plt.savefig("image3_TripTempSummary.png")
#plt.show()

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

rainfall = Session.query(Measurement.station, func.sum(Measurement.prcp))\
                       .filter(Measurement.date>=DATE).filter(Measurement.date<=date)\
                       .group_by(Measurement.station).order_by(func.sum(Measurement.prcp).desc()).all()  
print("Station Id\tTotal Rainfall")

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`